<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Internal Server Error</title>
    </head>
    <body>
        <h1>505</h1>
        <p>The server encountered an internal error and was unable to complete your request.</p>
        <p>Please try again later.</p>
        <p>Error: <%= error %></p>
    </body>
</html>